ext_media_mountable_notification_message
ext_media_mountable_notification_title
ext_media_safe_remove
app_name2
default_setup_call_msg
pref_video_preload_dialogtitle
pref_video_preload_title
app_name_bpp
bpp_authentication_timeout_message
bpp_cancel
bpp_main
bpp_printing_button_text
bpp_session_key_dialog_header
bpp_session_key_dialog_title
bpp_setting_text
empty_file_notification_sent
ftp_acceptance_dialog_header
ftp_acceptance_dialog_title
ftp_acceptance_timeout_message
ftp_authentication_timeout_message
ftp_notif_message
ftp_notif_ticker
ftp_notif_title
ftp_session_key_dialog_header
ftp_session_key_dialog_title
map_acceptance_dialog_header
map_acceptance_dialog_title
map_acceptance_timeout_message
map_alert_conn_failed_message
map_authentication_timeout_message
map_notif_message
map_notif_ticker
map_notif_title
map_session_key_dialog_header
map_session_key_dialog_title
share_prepare
status_bpp_aborted_by_printer
status_bpp_canceled_by_user
status_bpp_cancelled_by_printer
status_bpp_disconnected
status_bpp_door_open
status_bpp_marker_failure
status_bpp_marker_supply_empty
status_bpp_marker_supply_low
status_bpp_media_empty
status_bpp_media_jam
status_bpp_media_low
status_bpp_output_area_almost_full
status_bpp_output_area_full
status_bpp_paused
status_bpp_refused_by_printer
status_bpp_stopped_by_printer
status_bpp_sucess
status_bpp_unknown_error_by_printer
ContactScreen
ExportContactScreen
addSimEntries
allContactdeleteFailed
allContactdeleteSuccess
callFailed_dialToDial
callFailed_dialToSs
callFailed_dialToUssd
callUnanswered_forwarded
call_ind_services
call_number
callind
callind_multi_sim
cancel_call
card_01
card_02
card_title_MOcall_forwarding
card_title_MTcall_forwarding
card_title_call_deflected
card_title_callconnectedect
card_title_callconnectingect
card_title_calliswaiting
card_title_callonhold
card_title_callonhold_released
card_title_callretrieved
card_title_clir_suppression_rejected
card_title_conditionalCF
card_title_callconnectedect
card_title_callconnectingect
card_title_calliswaiting
card_title_callonhold
card_title_callonhold_released
card_title_callretrieved
card_title_clir_suppression_rejected
card_title_conditionalCF
card_title_cugcall
card_title_deflectedcall
card_title_forwardcheckreceived
card_title_forwarded_MTcall
card_title_in_progress
card_title_incoming_barred
card_title_multipartycall
card_title_outgoing_barred
card_title_unconditionalCF
config_sub_title
contactAddFailed
contactAddSuccess
contactUpdateFailed
contactUpdateSuccess
contactdeleteFailed
contactdeleteSuccess
corporate_unlock_failed
corporate_unlock_success
count_down
cursorError
deact_all_sub_not_supported
delete
deleteAllSimEntries
deleteSimContacts
dial
editContact
enterName
enterNumber
exportAllcontatsFailed
exportAllcontatsSuccess
exportContacts
fdn_failed
fdn_unavailable
label_cdp
label_nsdp
label_puk
label_sdp
label_spdp
label_subscription
mobile_network_setting
network_manage_settings
network_settings_sel_sub
new_cards_available
nw_subset_unlock_failed
nw_subset_unlock_success
nw_unlock_failed
nw_unlock_success
phone_numbers
pin2_attempts
pin2_unblocked
place_a_call1
place_a_call2
preferred_network_mode_cdma_evdo_gsm_wcdma_summary
preferred_network_mode_global_summary
preferred_network_mode_lte_cdma_evdo_summary
preferred_network_mode_lte_gsm_wcdma_summary
preferred_network_mode_lte_summary
preferred_network_mode_lte_wcdma_summary
proceed
prompt
prompt_user
puk2_blocked
puk_unlock_failed
puk_unlock_success
rc_unlock_success
requesting_corporate_unlock
requesting_nw_subset_unlock
requesting_nw_unlock
requesting_puk_unlock
requesting_sim_unlock
requesting_sp_unlock
rhrpd_unlock_success
rnw1_unlock_success
rnw2_unlock_success
rsp_unlock_success
ruim_unlock_success
sendSms
set_sub_1
set_sub_2
set_sub_activate_failed
set_sub_activate_not_supported
set_sub_activate_success
set_sub_deactivate_failed
set_sub_deactivate_not_supported
set_sub_deactivate_success
set_sub_failed
set_sub_no_change
set_sub_success
set_subscription
set_subscription_error_atleast_one
set_uicc_subscription_progress
sim_unlock_failed
sim_unlock_success
sp_unlock_failed
sp_unlock_success
stk_cc_ss_to_dial_error
stk_cc_ss_to_ss_error
stk_cc_ss_to_ussd_error
sub_one
sub_two
subone
subtwo
sum_xdivert_disabled
sum_xdivert_enabled
summary_manage_subscriptions
title_data_settings
xdivert_active
xdivert_button
xdivert_enternumber_error
xdivert_imsi_not_read
xdivert_not_active
xdivert_not_supported
xdivert_partial_set
xdivert_setting
xdivert_status
xdivert_sub_absent
xdivert_summary
xdivert_title
bluetooth_dun_acceptance_dialog_text
bluetooth_dun_connection_permission_request
bluetooth_dun_profile_summary_connected
bluetooth_dun_profile_summary_not_connected
bluetooth_dun_profile_summary_use_for
bluetooth_dun_remember_choice
bluetooth_dun_request
bluetooth_enter_pin_msg_hs
bluetooth_ftp_acceptance_dialog_text
bluetooth_ftp_connection_permission_request
bluetooth_ftp_remember_choice
bluetooth_ftp_request
bluetooth_map_connection_permission_request
bluetooth_mas_acceptance_dialog_text
bluetooth_mas_remember_choice
bluetooth_mas_request
bluetooth_pbap_connection_permission_request
bluetooth_profile_dun
bluetooth_profile_sap
bluetooth_sap_acceptance_dialog_text
bluetooth_sap_connection_permission_request
bluetooth_sap_profile_summary_connected
bluetooth_sap_profile_summary_not_connected
bluetooth_sap_profile_summary_use_for
bluetooth_sap_remember_choice
bluetooth_sap_request
data_summary
data_title
device_additional_status
device_additional_status_summary
multi_sim_settings_summary
multi_sim_settings_title
sel_sub_summary
sel_sub_title
select_subscription
set_data_subscription_progress
set_dds_error
set_dds_failed
set_dds_success
set_sms_error
set_voice_error
sim_absent
sim_pin_attempts
sim_pin_disabled
sim_pin_enabled
sms_summary
sms_title
status_esn_number
voice_summary
voice_title
wifi_p2p_menu_advanced
wifi_p2p_menu_create_group
wifi_p2p_menu_remove_group